.discover-nav:hover svg {
	fill: #000;
}

.discover-nav.disabled {
	cursor: default;
}

.discover-nav.disabled svg {
	fill: #C8CCD0;
}

a.s-card:hover,
.s-card.hover:hover {
	box-shadow: 0 4px 12px rgba(36,39,41,.2)!important;
	text-decoration: none;
	cursor: pointer;
}

.live-badge {
    background-color: rgba(0, 0, 0, .5);
    width: fit-content;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.dot {
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 8px;
}
